@page "/"
@inject HeadBuilderService head
@inject IManagePages managePages
@inject Microsoft.Extensions.Configuration.IConfiguration config

@if (_sitePage == null)
{
    <p>Loading...</p>
}
else
{
    <header>
        <h1>@_sitePage.Title</h1>
    </header>
    <section>
        @((MarkupString)_sitePage.MainContent)
    </section>
}

@code{
    private Models.SitePage _sitePage;

    protected override async Task OnInitializedAsync()
    {
        head.Title = config.GetSection("SiteTitle").Value;
        _sitePage = await managePages.GetIndexPageAsync();
        head.Description = _sitePage.MainContent;
    }
}