@using System.ComponentModel
@using System.Text.RegularExpressions
@inject HeadBuilderService head

<title>@head.Title</title>

@if (!String.IsNullOrEmpty(head.Description))
{
    @((MarkupString)Domain.Utilities.Meta.MetaGenerator.BuildMetaTag("description", head.Description, true));
}

@code {
    protected override async Task OnInitializedAsync()
    {
        head.PropertyChanged += async (object sender, PropertyChangedEventArgs e) =>
        {
            await InvokeAsync(() => { StateHasChanged(); });
        };

        await base.OnInitializedAsync();
    }
}
