@page "/manage/membership"
@inject HeadBuilderService head
@inject UserManager<ApplicationUser> userManager
@inject RoleManager<IdentityRole> roleManager
@inject IJSRuntime jsRuntime

<h3>用户 (@(_users != null ? _users.Count.ToString() : "0"))</h3>
<ul class="forum-ul">
    @if (_users == null)
    {
    <li><i class="oi oi-cog se-spin-icon"></i> Loading Users...</li>
    }
    else
    {
        foreach (var user in _users)
        {
            <li><a href="@String.Format("/admin/manage/membership/{0}/edit", user.Id)">@user.UserName</a></li>
        }
    }
</ul>

<h3>角色</h3>
<ul class="forum-ul">
    @if(_roles == null)
    {
    <li><i class="oi oi-cog se-spin-icon"></i> Loading Roles...</li>
    }
    else
    {
        foreach (var role in _roles)
        {
            <li>@role.Name</li>
        }
    }
</ul>

@code {
    private IList<ApplicationUser> _users;
    private IList<IdentityRole> _roles;

    protected override async Task OnInitializedAsync()
    {
        head.Title = "Membership | Administration";
        _users = userManager.Users.OrderBy(p => p.UserName).ToList();
        _roles = roleManager.Roles.OrderBy(p => p.Name).ToList();
    }
}
