@{
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<h1>个人信息</h1>

<div class="container">
    <h4>更改账户基本设置</h4>
    <hr />
    <div class="row">
        <div class="col-md-4 col-lg-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-8 col-lg-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
